
<footer class="footer bold center">&copy; Himanhsu in sailjs Footer</footer>
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<!--SCRIPTS END-->

</body>
</html>
