<% include partials/basicheader %>
<div class="container">
        <div class="row centered-form">

          <% (register == 'undefined')? '':' <div class="alert alert-success">Successfully Registerd!</div> ' %>

        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">

          <% if(flash != undefined && flash && flash.err) { %>
          <ul class="alert alert-danger">
            <% Object.keys(flash.err).forEach((error)=>{ %>
            <li>
                <%= JSON.stringify(flash.err[error]) %>
              </li>
          <%  }); %>


          </ul>
          <% } %>


                    <% if(flash != undefined && flash && flash.success) { %>
                      <div class="alert alert-success">
                     <%= flash.success %>  </div>
                    <% } %>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Please sign up</h3>
			 			</div>
			 			<div class="panel-body" >
			    		<form role="form" method='post' action='/registeruser'>
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			                <input type="text" name="firstname" id="first_name" class="form-control input-sm" placeholder="First Name">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" name="lastname" id="last_name" class="form-control input-sm" placeholder="Last Name">
			    					</div>
			    				</div>
			    			</div>

			    			<div class="form-group">
			    				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="tel" name="contact" id="password_confirmation" class="form-control input-sm" placeholder="Contact">
			    					</div>
			    				</div>
			    			</div>
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                <div class="checkbox">
                  <label><input type="checkbox" name = 'admin' value="true">Admin</label>
                </div>
              </div></div>
              </div>
			    			<input type="submit" value="Register" class="btn btn-info btn-block">

			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>

<% include /partials/footer %>
